streamlit
altair
annotated-types
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
defusedxml
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
Jinja2
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
packaging
pandas
pathlib
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
referencing
requests
rich
rpds-py
rsa
setuptools
six
smmap
soupsieve
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wheel
XlsxWriter
youtube-transcript-api
